* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header styles starts here */

header {
    background-color: #ff900e1a;
    padding: 50px 230px 0px 230px;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-title {}

.header-image img {
    width: 100%;
}


/* main section styles */

main {
    padding: 50px 230px 0px 230px;
}

.features-container-one {
    display: flex;
    height: 50vh;
    width: 100%;
    gap: 50px;
    margin-bottom: 30px;
}

.features-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.features-image img {
    width: 100%;
}

.features-container-two {

}